# Prod environment overrides
replicaCount: 2

service:
  type: ClusterIP

resources:
  requests:
    cpu: 1
    memory: 4Gi
  limits:
    cpu: 4
    memory: 8Gi

persistence:
  shared:
    size: 20Gi
  output:
    size: 20Gi

env:
  - name: Logging:Console:LogLevel:Default
    value: Information

